/*body*/
body{
	background: url(http://subtlepatterns.com/patterns/school.png) 
	left center;
	/*max-width:600px;*/
	padding:1em;
	/*border-radius:1em;*/
}
/*-------------------------------*/

/*image*/
.headerline img{
	width:30%;
	padding:0.5em;
	border-radius:2em;
	background-color:#ffffff;
	box-sizing:border-box;
}
footer>img{
	width:50%;
	padding:1em;
	border-radius:2em;
	background-color:rgba(200, 200, 255, 0.5);
	box-sizing:border-box;
}
#round{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 350px;
	padding:10px 20px
	-webkit-border-image: url(http://www.w3schools.com/css/border.png) 30 30 round; /* Safari 3.1-5 */
  -o-border-image: url(http://www.w3schools.com/css/border.png) 30 30 round; /* Opera 11-12.1 */
  border-image: url(http://www.w3schools.com/css/border.png) 30 30 round;
}
#stretch{
	position: relative;
	width: 150px;
	padding:10px 20px
	-webkit-border-image: url(http://www.w3schools.com/css/border.png) 30 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url(http://www.w3schools.com/css/border.png) 30 30 stretch; /* Opera 11-12.1 */
  border-image: url(http://www.w3schools.com/css/border.png) 30 30 stretch;
}
/*-------------------------------*/

/*headerline*/
.headerline h1{
	font-family: 'La Belle Aurore', cursive;
	font-size: 3em;
	color:rgba(255, 100, 0, 1);
	width:50%;
	box-shadow: 0 1px 5px rgba(0,0,0,1), 0 0 50px rgba(0,0,0,0.3) inset;
}
.headerline h2{
	font-family: 'La Belle Aurore', cursive;
}
/*headline*/
#course h1{
	font-size: 2em;
	border-bottom:2px solid;
}
/*-------------------------------*/

/*meta icon*/
.meta{
	margin-top:1em;
}
.meta span{
	margin-right:1.2em;
}
/*-------------------------------*/

/*line height*/
.course-portrait p{
	font: 1em/1.5 serif;
}
/*-------------------------------*/

/*Pseudo-Element*/
blockquote::before{
	content: '❝';
}
blockquote::after{
	content: '❞';
}
/*-------------------------------*/

/*list effect*/
.course-content>li,
.course-week>li,
.course-grading>li{
	padding:3px 10px;
}
.course-syllabus li:nth-child(odd){
	background-color:rgba(255,255,255,0.5);
}
.course-week>li{
	font-family: 'La Belle Aurore', cursive;
}
.course-week #time{
	display:inline-block;
	width:120px;
}
.course-week #content{
	color:red;
}
/*-------------------------------*/

.course-box{
	position: relative;
	width:30%;
	margin:2em;
	padding:1em;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,1), 0 0 50px rgba(0,0,0,0.5) inset;
	border-radius: 2%     0%     3%     0% /     20%     0%     20%     0%;
}
/*-------------------------------*/

/*a*/
a:link{
	text-decoration: none;
	/* remove underline */
	color: blue;
}
a:visited{
	color: purple;
}
a:hover{
	text-decoration: underline;
	color: red;
}
a:active{
	color: yellow;
}
/*-------------------------------*/

/*input*/
input/*[type=text]*/{
	font-size: 2em;
	border: 1px solid blue;
	background: rgba(0, 150, 255, 0.5);
}
input[type=submit]{
	opacity: 0.3;
}
input:checked + label{
	color: green;
}
input:checked ~ input[type=submit]{
	opacity: 1;
}

label,
input{
	font-family: 'Jolly Lodger', cursive;
	font-size: 2em;	
}
/*-------------------------------*/

/*animation*/
/* Chrome, Safari, Opera */
.show-animation>img{
width: 100px;
height: 100px;
background-color: red;
position: relative;
-webkit-animation: myfirst 5s ease 2s infinite alternate; /* Chrome, Safari, Opera */
animation: myfirst 5s ease 2s infinite alternate;
/*  -webkit-animation-name: myfirst;  //Chrome, Safari, Opera
    -webkit-animation-duration: 5s;  //Chrome, Safari, Opera
    -webkit-animation-iteration-count: infinite;  //Chrome, Safari, Opera
    -webkit-animation-direction: alternate;  //Chrome, Safari, Opera
    animation-name: myfirst;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
*/
}
@-webkit-keyframes myfirst {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:70px; top:0px;}
    50%  {background-color:blue; left:70px; top:70px;}
    75%  {background-color:green; left:0px; top:70px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {background-color:red; left:0px; top:0px;}
		25%  {background-color:yellow; left:70px; top:0px;}
    50%  {background-color:blue; left:70px; top:70px;}
    75%  {background-color:green; left:0px; top:70px;}
    100% {background-color:red; left:0px; top:0px;}
}
/*-------------------------------*/
